* {
        box-sizing: border-box;
        margin: 0;
        padding: 0:
}

:focus {
        outline: none;
}

body {
        padding: 1em;
        background-color: #333;
        text-align: center;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        color: #eee;
}

a:link {
        text-decoration: none;
        color: inherit;
}

a:visited {
        text-decoration: none;
        color: inherit;
}

a:hover {
        text-decoration: none;
        color: #aaa;
}

a:active {
        text-decoration: none;
        color: #777;
}

.conteneur {
        display: grid;
        grid-template-columns: repeat(3,1fr);
}

.conteneur .gauche {
        grid-column: 1 / 2;
}

.conteneur .milieu {
        grid-column: 2 / 3;
}

.conteneur .droite {
        grid-column: 3 / 4;
}

.conteneur .fulltrois {
        grid-column: 1 / 4;
}

.conteneur h1 {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        margin: 0.5em;

        text-shadow: #111 0 1px, #111 0 2px, #111 0 3px;

        transition: all 0.3s;
}

.laboite {
        display: block;
        margin: 1em auto;
        overflow: hidden;
        border: 3px solid #eee;
        border-radius: 1em;
        box-shadow: 0 0 3em rgba(0,0,0,1);
        z-index: 2;

        transition: all 0.3s;
}

.laboite img {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        display: block;
        width: 100%;

        transition: all 0.3s;
        transform: scale(1) rotate(0deg);
}

.laboite img:hover {
        transform: scale(1.4) rotate(15deg);
}

.tonbou {
        margin-top: 1em;
        z-index: 3;
}

.tigrou {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        display: block;
        padding: 0.5em;

        background-color: #333;
        border: 1px solid #111;
        border-radius: 0.5em;
        text-shadow: #111 0 1px, #111 0 2px;

        transition: all 0.3s;
        box-shadow: 0 3px #111;
}

.tigrou:hover, input[type="checkbox"]:checked ~ .tigrou {
        cursor: pointer;
        box-shadow: 0 -1px #111, 0 2px 0.2em rgba(0,0,0,1) inset;
        transform: translate(0, 3px);
}

.tigrou:active {
        color: #888;
        background-color: #222;
}

input[type="checkbox"] {
        position: fixed;
        top: -10em;
}

.toptj {
        position: fixed;
        width: 120%;
        top: -100%;
        left: -10%;
        z-index: 4;

        background-color: #333;

        transition: all 0.4s;
}

.toptj p {
        display: block;
        padding: 1.5em;
        font-weight: bold;
        border-bottom: 3px solid #ddd;
        box-shadow: 0 0 10px rgba(0,0,0,0.8) inset;
}

input[type="checkbox"]:checked + .toptj {
        top: -20px;
        box-shadow: 0 0 3em rgba(0,0,0,1);
}

.plusdinfos {
        position: fixed;
        width: 70%;
        bottom: -100%;
        left: 15%;
        z-index: 4;

        background-color: #333;
        
        border-radius: 1em 1em 0 0;
        border-style: solid solid none solid;
        border-width: 3px;
        border-color: #ddd;
 
        transition: all 0.4s;
}

.plusdinfos label {
        cursor: pointer;
        display: block;
        width: 100%;   
        height: 100%;
        margin: 0 auto;
 
        font-size: 5vw;
        padding: 1em;

        box-shadow: 0 0 10px rgba(0,0,0,0.7) inset;
        border-radius: inherit;
}

.plusdinfos label:hover {
        color: #999;
}

input[type="checkbox"]:checked + .plusdinfos {
        bottom: -20px;
        box-shadow: 0 0 3em rgba(0,0,0,1);
}

@media screen and (min-width: 700px) {
        .conteneur h1 {
                transform: scale(0);
                margin: 0;
                padding: 0;
        }
}

@media screen and (min-width: 750px) {
        .conteneur h1 {
                display: none;
        }
}

 
@media screen and (min-width: 1000px) {
        body {
                padding: 0;
        }

        .laboite {
                margin: 0 1.5em;
        }
        .tonbou {
                margin: 1em 1.5em 0;
        }
}
